{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Register</title>
    {% endblock %}

{% block content %}

<br>
<center>
<form method="post" class="container">

    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label">Usename</label>
      <input type="text" class="form-control" name="u">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="p">
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm_Password</label>
      <input type="password" class="form-control" name="c">
    </div>
    <div class="mb-3">
      <label class="form-label">First_name</label>
      <input type="text" class="form-control" name="f">
    </div>
    <div class="mb-3">
      <label class="form-label">Last_name</label>
      <input type="text" class="form-control" name="l">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="e">
    </div>


    <div>
    <input type="submit">
    </div>

</form>
    </center>

{% endblock %}

</body>
</html>